<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</head>
<body>

<h1 class="text-danger text-center">Contact Us!</h1>

<a href="{% url 'home' %}" class="btn btn-primary">Home</a>
<a href="{% url 'about' %}" class="btn btn-outline-warning">About</a>
<a href="{% url 'services' %}" class="btn btn-outline-success">Services</a>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aut delectus eligendi exercitationem iste officiis quibusdam repellendus? Aliquid architecto cum dignissimos earum excepturi ipsum, itaque quo rem soluta voluptate. Enim!</span><span>Deleniti nisi perferendis sint? Cumque dignissimos dolore ex excepturi expedita illo perspiciatis quos rerum similique vitae? Aperiam deserunt doloremque facilis laboriosam minus mollitia odio perspiciatis quidem voluptatem voluptatum. Cupiditate, mollitia?</span><span>Atque cum cupiditate incidunt ipsum nesciunt sunt voluptatibus? Ad aliquid assumenda delectus dolorem dolores dolorum eaque enim est expedita ipsam molestiae mollitia nam necessitatibus neque perferendis quasi saepe tenetur, ullam!</span><span>Adipisci aliquam aliquid, amet beatae culpa dolor dolorem dolores enim harum inventore ipsam iste laborum maiores neque nobis quaerat quam, recusandae repellendus suscipit vero. Beatae ex magni tenetur ullam veritatis?</span></p>


</body>
</html>