<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <style>
        h1{
            text-align: center;
            background-color: black;
            color: aliceblue;
            font-size: 80px;
            text-shadow: 5px 9px 5px green;
        }
    </style>
</head>
<body>

<h1>PatientPlus</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi eaque repellat sint! Aliquam, amet aperiam at blanditiis consequatur corporis deserunt facere illum laborum magnam nostrum omnis repellendus sapiente ut vitae!</span><span>Accusantium aliquam aspernatur cupiditate deleniti error et expedita, facere ipsam molestiae nisi nostrum quis recusandae sint sit soluta tempore velit voluptate? Alias cumque delectus fugit itaque labore nulla tempore vel.</span></p>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus adipisci cupiditate dignissimos ea earum ex exercitationem inventore ipsa magnam nostrum numquam, optio quasi rem repudiandae rerum sit, soluta velit.</span><span>Consectetur culpa deserunt dignissimos distinctio eius eos fugiat fugit hic illo impedit itaque, iure molestias natus neque odio omnis quis quisquam quod rerum sint suscipit ullam voluptatem? Distinctio, porro tempora?</span><span>Ad adipisci at atque dolores esse, iure magnam sunt! Aut culpa eligendi enim explicabo facere, id maiores nostrum omnis quas quo repellendus, unde? Architecto, enim ipsam maxime nisi quo veniam?</span></p>

<img src="{% static 'assets/Hospital1.jpg' %}" alt="">
<img src="{% static 'assets/Hospital2.jpg' %}" alt="">
<img src="{% static 'assets/Hospital3.jpg' %}" alt="">
<img src="{% static 'assets/Hospital4.jpg' %}" alt="">
<img src="{% static 'assets/Hospital5.jpg' %}" alt="">


</body>
</html>